<?xml version="1.0" encoding="UTF-8"?>

<plugin name="%pluginName" id="net.fortuna.toolbag.ui" version="0.1" provider-name="%providerName">
	<runtime>
		<library name="lib/uitoolbag.jar">
			<export name="*"/>
		</library>
	</runtime>
	<requires>
		<import plugin="net.fortuna.toolbag"/>
	</requires>
</plugin>